 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 154px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 9px;
  margin: 48px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1154px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 2px 292px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 82px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 216px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 23px 20px;
}

.u-section-2 .u-icon-1 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -50px auto 0;
  padding: 29px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 15px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 15px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 23px 20px;
}

.u-section-2 .u-icon-2 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -50px auto 0;
  padding: 29px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 15px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  margin: 15px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 23px 20px;
}

.u-section-2 .u-icon-3 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -50px auto 0;
  padding: 29px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 15px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  margin: 15px auto 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 105px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  min-height: 216px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 23px 20px;
}

.u-section-2 .u-icon-4 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -50px auto 0;
  padding: 29px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 15px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 15px auto 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 23px 20px;
}

.u-section-2 .u-icon-5 {
  height: 124px;
  width: 124px;
  background-image: none;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -50px auto 0;
  padding: 29px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 15px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 15px auto 0;
}

.u-section-2 .u-icon-6 {
  height: 3px;
  width: 43px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -28px 40px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 92px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 178px;
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-2 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 178px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 595px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-list-2 {
    width: 100%;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 595px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 820px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 820px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 916px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 30px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-list-2 {
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 892px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 31px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 30px;
    margin-bottom: -9px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 31px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-bottom: -9px;
  }
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-4,
.u-section-2 .u-btn-4:before,
.u-section-2 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-4.u-btn-4.u-btn-4.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-5,
.u-section-2 .u-btn-5:before,
.u-section-2 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-5.u-btn-5.u-btn-5:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-5.u-btn-5.u-btn-5:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-5.u-btn-5.u-btn-5.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-6,
.u-section-2 .u-btn-6:before,
.u-section-2 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-6.u-btn-6.u-btn-6:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-6.u-btn-6.u-btn-6:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-6.u-btn-6.u-btn-6.hover {
  border-radius: 10px !important;
}