<!DOCTYPE html>
<html style="font-size: 16px" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Add A Debate</title>
    <link rel="stylesheet" href="css/nicepage2.css" media="screen" />
    <link rel="stylesheet" href="css/Add-A-Debate.css" media="screen" />
<style>
      .btn {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        text-shadow: 1px 1px 30px #666666;
        font-family: Arial;
        color: #ffda00;
        font-size: 20px;
        background: #b83126;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }

      .btn:hover {
        background: #ffda00;
        color: #b83126;
        text-decoration: none;
      }
      table, th, td {
  border: 2px solid black;
}
    </style>
    <meta name="generator" content="Nicepage 4.15.8, nicepage.com" />
    <link rel="icon" href="images/favicon.png" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />

    <script src="../index.js" defer=""></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "phase 2",
        "logo": "images/TIQGOLDLOGO.png"
      }
    </script>
    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Add A Debate" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
  </head>
  <body class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-4f92">
      <img
        class="u-expanded-width u-image u-image-default u-preserve-proportions u-image-1"
        src="images/TIQPatternWithBackground.png"
        alt=""
        data-image-width="1600"
        data-image-height="1600"
      /><a
        href="https://nicepage.com/c/architecture-building-website-templates"
        class="u-image u-logo u-image-2"
        data-image-width="2048"
        data-image-height="1461"
      >
        <img src="images/TIQGOLDLOGO.png" class="u-logo-image u-logo-image-1" />
      </a>
    </header>
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-f4f5">
      <div class="u-clearfix u-sheet" >
        <h1
          class="u-text u-text-custom-color-3 u-text-default u-title u-text-1"
        >
          Add Room
        </h1>
      </div>
      <div class="u-clearfix u-sheet u-sheet-1">
<form method="POST" action="/confirm-Room">
<table>
<!--heading-->
  <tr>
    <th><span style="text-align: center; color: #B83126 ; font-size: 1.5rem;">Position</span></th>
    <th><span style="text-align: center; color: #B83126 ; font-size: 1.5rem;">Debater Name</span></th>
    <th><span style="text-align: center; color: #B83126 ; font-size: 1.5rem;">Matter</span></th>
    <th><span style="text-align: center; color: #B83126 ; font-size: 1.5rem;">Manner</span></th>
    <th><span style="text-align: center; color: #B83126 ; font-size: 1.5rem;">Structure</span></th>
  </tr>
<!--end heading-->
<!--PM-->
  <tr>
    <td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">PM</span></td>
    <td><div>
            <input
              id="pmName"
              name="pmName"
              type="text"
              placeholder="Debater Name"
              required="" autocomplete="off"
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div>
            <input
              id="pmMatter"
              name="pmMatter"
              type="number" autocomplete="off"
            placeholder="Matter Score" required=""
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="pmManner"
              name="pmManner"
              type="number" autocomplete="off"
            placeholder="Manner Score" required=""
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div>
            <input
              id="pmStruct"
              name="pmStruct" required=""
              type="number" autocomplete="off"
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
  </tr>
<!--OL-->
<tr>
<td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">  OL</span></td>
<td><div >
            <input
              id="olName"
              name="olName" 
              type="text" autocomplete="off"
              placeholder="Debater Name"
              required=""
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="olMatter"
              name="olMatter"
              type="number" required=""
            placeholder="Matter Score" autocomplete="off"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="olManner"
              name="olManner" required=""
              type="number" autocomplete="off"
            placeholder="Manner Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="olStruct"
              name="olStruct" required=""
              type="number" autocomplete="off"
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
</tr>
<!--DPM-->
<tr>
<td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">  DPM</span></td>
<td><div >
            <input
              id="dpmName"
              name="dpmName"  
              type="text" autocomplete="off"
              placeholder="Debater Name"
              required=""
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="dpmMatter" required=""
              name="dpmMatter"
              type="number" autocomplete="off"
            placeholder="Matter Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="dpmManner"
              name="dpmManner" required=""
              type="number" autocomplete="off"
            placeholder="Manner Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="dpmStruct"
              name="dpmStruct" required=""
              type="number" autocomplete="off"
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
</tr>
<!--DOL-->
<tr>
<td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">  DOL </span></td>
<td><div >
            <input
              id="dolName"
              name="dolName"
              type="text" autocomplete="off"
              placeholder="Debater Name"
              required=""
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="dolMatter"
              name="dolMatter" autocomplete="off"
              type="number" required=""
            placeholder="Matter Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="dolManner"
              name="dolManner" autocomplete="off"
              type="number"
            placeholder="Manner Score" required=""
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="dolStruct" required=""
              name="dolStruct"
              type="number" autocomplete="off"
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
</tr>
<!--MOG-->
<tr>
<td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">  MoG</span></td>
<td><div >
            <input
              id="mogName"
              name="mogName"
              type="text" autocomplete="off"
              placeholder="Debater Name"
              required=""
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="mogMatter"
              name="mogMatter"
              type="number" autocomplete="off"
            placeholder="Matter Score" required=""
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="mogManner"
              name="mogManner" autocomplete="off"
              type="number" required=""
            placeholder="Manner Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="mogStruct"
              name="mogStruct" autocomplete="off"
              type="number" required=""
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
</tr>
<!--MOO-->
<tr>
<td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">  MoO</span></td>
<td><div >
            <input
              id="mooName"
              name="mooName"
              type="text" autocomplete="off"
              placeholder="Debater Name"
              required=""
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="mooMatter" autocomplete="off"
              name="mooMatter"
              type="number" required=""
            placeholder="Matter Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="mooManner" autocomplete="off"
              name="mooManner" required=""
              type="number"
            placeholder="Manner Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="mooStruct"
              name="mooStruct" required=""
              type="number" autocomplete="off"
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
</tr>
<!--GW-->
<tr>
<td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">  GW</span></td>
<td><div >
            <input
              id="gwName"
              name="gwName"
              type="text" autocomplete="off"
              placeholder="Debater Name"
              required=""
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="gwMatter"
              name="gwMatter" autocomplete="off"
              type="number" required=""
            placeholder="Matter Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="gwManner"
              name="gwManner" required=""
              type="number" autocomplete="off"
            placeholder="Manner Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="gwStruct"
              name="gwStruct" autocomplete="off"
              type="number" required=""
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
</tr>
<!--OW-->
<tr>
<td><span style="float: left; margin-right: 1rem; color: #B83126 ; font-size: 1.5rem;">  OW</span></td>
<td><div >
            <input
              id="owName"
              name="owName"
              type="text" autocomplete="off"
              placeholder="Debater Name"
              required=""
              style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="owMatter"
              name="owMatter"
              type="number" autocomplete="off"
            placeholder="Matter Score" required=""
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="owManner"
              name="owManner" required=""
              type="number" autocomplete="off"
            placeholder="Manner Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
<td><div >
            <input
              id="owStruct"
              name="owStruct" autocomplete="off"
              type="number" required=""
            placeholder="Structure Score"
            style="background-image: linear-gradient(to right, #0d895b, #166199);"
            />
          </div></td>
</tr>
</table>
<!-- submit -->
          <div
            class="u-align-center u-form-group u-form-submit"
            style="float: left; margin-bottom: 5rem;"
          >
            <input type="submit" value="Add Room " class="btn" />
          </div>
</form>
    </section>
    <footer
      class="u-align-center u-clearfix u-footer u-image u-footer"
      id="sec-d7fd"
      data-image-width="1600"
      data-image-height="1600"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p
          class="u-small-text u-text u-text-custom-color-3 u-text-variant u-text-1"
        >
          ⓒ The Intelligent Question&nbsp;
        </p>
      </div>
    </footer>
  </body>
</html>
