<!DOCTYPE html>
<html style="font-size: 16px" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Add A Debate</title>
    <link rel="stylesheet" href="css/nicepage2.css" media="screen" />
    <link rel="stylesheet" href="css/Add-A-Debate.css" media="screen" />
    <style>
      .btn {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        text-shadow: 1px 1px 30px #666666;
        font-family: Arial;
        color: #ffda00;
        font-size: 20px;
        background: #b83126;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }

      .btn:hover {
        background: #ffda00;
        color: #b83126;
        text-decoration: none;
      }
    </style>
    <meta name="generator" content="Nicepage 4.15.8, nicepage.com" />
    <link rel="icon" href="images/favicon.png" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />

    <script src="../index.js" defer=""></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "phase 2",
        "logo": "images/TIQGOLDLOGO.png"
      }
    </script>
    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Add A Debate" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
  </head>
  <body class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-4f92">
      <img
        class="u-expanded-width u-image u-image-default u-preserve-proportions u-image-1"
        src="images/TIQPatternWithBackground.png"
        alt=""
        data-image-width="1600"
        data-image-height="1600"
      /><a
        href="https://nicepage.com/c/architecture-building-website-templates"
        class="u-image u-logo u-image-2"
        data-image-width="2048"
        data-image-height="1461"
      >
        <img src="images/TIQGOLDLOGO.png" class="u-logo-image u-logo-image-1" />
      </a>
    </header>
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-f4f5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <span class="u-file-icon u-icon u-icon-1"
          ><img src="images/8054429.png" alt=""
        /></span>
        <h1
          class="u-text u-text-custom-color-3 u-text-default u-title u-text-1"
        >
          Add Debate
        </h1>
      </div>
      <h4 class="u-text u-text-custom-color-3 u-text-default u-title u-text-1">
        Choose the competetion, stage and room.
      </h4>
      <div class="u-clearfix u-sheet u-sheet-1">
        <form method="POST" action="/add-debate-select-comp">
          <div class="u-form-select-wrapper" style="float: left">
            <select
              id="selectCompet"
              name="competetion"
              class="u-border-5 u-border-grey-30 u-gradient u-input u-input-rectangle u-radius-13 u-text-custom-color-3 u-input-6"
              required="required"
              style="background-color: maroon"
            >
              <option value="OC">Official Competetion</option>
              <option value="League">The League</option>
            </select>
          </div>
          <div
            class="u-align-center u-form-group u-form-submit"
            style="float: left"
          >
            <input type="submit" value="Choose Competition" class="btn" />
          </div>
        </form>
        <!-- show stage -->
        <form method="POST" action="/add-a-debateroom">
          <% if(league) {%>
          <div class="u-form-select-wrapper" style="float: left">
            <select
              id="stageLeague"
              name="stageLeague"
              class="u-border-5 u-border-grey-30 u-gradient u-input u-input-rectangle u-radius-13 u-text-custom-color-3 u-input-6"
              required="required"
              style="background-color: maroon"
            >
              <option value="R1">Round 1</option>
              <option value="R2">Round 2</option>
              <option value="R3">Round 3</option>
              <option value="R4">Round 4</option>
            </select>
          </div>
          <%}%> <% if(OC) {%>
          <div class="u-form-select-wrapper" style="float: left">
            <select
              id="stageOC"
              name="stageOC"
              class="u-border-5 u-border-grey-30 u-gradient u-input u-input-rectangle u-radius-13 u-text-custom-color-3 u-input-6"
              required="required"
              style="background-color: maroon"
            >
              <option value="IHD1">IHD1</option>
              <option value="IHD2">IHD2</option>
              <option value="PL1">Prelims 1</option>
              <option value="PL2">Prelims 2</option>
              <option value="PL3">Prelims 3</option>
              <option value="SF">ٍSemifinals</option>
              <option value="TGD">TGD</option>
            </select>
          </div>
          <%}%><% if(OC||league) {%>
          <div class="u-form-select-wrapper" style="float: left">
            <select
              id="selectRoom"
              name="room"
              class="u-border-5 u-border-grey-30 u-gradient u-input u-input-rectangle u-radius-13 u-text-custom-color-3 u-input-6"
              required="required"
              style="background-color: maroon"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div
            class="u-align-center u-form-group u-form-submit"
            style="float: left"
          >
            <input type="submit" value="Choose Room" class="btn" />
          </div>
          <%}%>
        </form>
      </div>
    </section>
    <footer
      class="u-align-center u-clearfix u-footer u-image u-footer"
      id="sec-d7fd"
      data-image-width="1600"
      data-image-height="1600"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p
          class="u-small-text u-text u-text-custom-color-3 u-text-variant u-text-1"
        >
          ⓒ The Intelligent Question&nbsp;
        </p>
      </div>
    </footer>
  </body>
</html>
