 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vh;
}

.u-section-1 .u-icon-1 {
  width: 136px;
  height: 136px;
  margin: 41px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 41px auto 60px;
}