.u-section-1 .u-sheet-1 {
  min-height: 451px;
}

.u-section-1 .u-form-1 {
  height: 290px;
  margin: 60px 218px 60px 285px;
}

.u-section-1 .u-label-1 {
  letter-spacing: 9px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-label-2 {
  letter-spacing: 9px;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  letter-spacing: 9px;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-label-4 {
  letter-spacing: 9px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  letter-spacing: 9px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-right: 118px;
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 8px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}